body {
  background-color: rgb(255, 255, 255);
}


.jumbotron {
  background-image: url("../images/navelgazing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: Calibri;
  color:gold
} 

.well {
  background-color: "#006666";
  font-family: Calibri;
  color:black;
  font-weight: bolder;
}

h5 {
  font-size: larger;
}

.footer {
background-image: url("../images/navelgazing.jpg");
background-position: center;
background-repeat: no-repeat;
text-align: left;
font-family: Calibri;
color:gold
}

li {
  font-size: x-large;
  font-weight: bold;
}

.fade-in-text {
    font-family: Calibri;
    font-size: 150px;
    animation: fadeIn 5s;  
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
